

@font-face {
      font-family: 'Apple SD Gothic Neo',arial,sans-serif;
  src: url('AppleSDGothicNeoT.eot') format('eot');
  src: url('AppleSDGothicNeoT.eot') format('embedded-opentype'),
       url('AppleSDGothicNeoT.woff2') format('woff2'),
       url('AppleSDGothicNeoT.woff') format('woff'),
       url('AppleSDGothicNeoT.ttf') format('truetype');
  src:local(※), url('AppleSDGothicNeoT.woff') format('woff');
  font-weight: 100;
  font-style: nomal;
}

@font-face {
      font-family: 'Apple SD Gothic Neo',arial,sans-serif;
  src: url('AppleSDGothicNeoUL.eot') format('eot');
  src: url('AppleSDGothicNeoUL.eot') format('embedded-opentype'),
       url('AppleSDGothicNeoUL.woff2') format('woff2'),
       url('AppleSDGothicNeoUL.woff') format('woff'),
       url('AppleSDGothicNeoUL.ttf') format('truetype');
}
@font-face {
      font-family: 'Apple SD Gothic Neo',arial,sans-serif;
  src: url('AppleSDGothicNeoL.eot') format('eot');
  src: url('AppleSDGothicNeoL.eot') format('embedded-opentype'),
       url('AppleSDGothicNeoL.woff2') format('woff2'),
       url('AppleSDGothicNeoL.woff') format('woff'),
       url('AppleSDGothicNeoL.ttf') format('truetype');
  src:local(※), url('AppleSDGothicNeoL.woff') format('woff');
  font-weight: 300;
  font-style: nomal;
}
@font-face {
      font-family: 'Apple SD Gothic Neo',arial,sans-serif;
  src: url('AppleSDGothicNeoR.eot') format('eot');
  src: url('AppleSDGothicNeoR.eot') format('embedded-opentype'),
       url('AppleSDGothicNeoR.woff2') format('woff2'),
       url('AppleSDGothicNeoR.woff') format('woff'),
       url('AppleSDGothicNeoR.ttf') format('truetype');
  src:local(※), url('AppleSDGothicNeoR.woff') format('woff');
  font-weight: 400;
  font-style: nomal;
}
@font-face {
  font-family: 'AppleSDGothicNeo', sans-serif;
  src: url('AppleSDGothicNeoM.eot') format('eot');
  src: url('AppleSDGothicNeoM.eot') format('embedded-opentype'),
       url('AppleSDGothicNeoM.woff2') format('woff2'),
       url('AppleSDGothicNeoM.woff') format('woff'),
       url('AppleSDGothicNeoM.ttf') format('truetype');
  src:local(※), url('/font/AppleSDGothicNeoM.woff') format('woff');
  font-weight: 500;
  font-style: nomal;
}
@font-face {
      font-family: 'Apple SD Gothic Neo',arial,sans-serif;
  src: url('AppleSDGothicNeoSB.eot') format('eot');
  src: url('AppleSDGothicNeoSB.eot') format('embedded-opentype'),
       url('AppleSDGothicNeoSB.woff2') format('woff2'),
       url('AppleSDGothicNeoSB.woff') format('woff'),
       url('AppleSDGothicNeoSB.ttf') format('truetype');
  src:local(※), url('/font/AppleSDGothicNeoSB.woff') format('woff');
  font-weight: 600;
  font-style: nomal;
}
@font-face {
      font-family: 'Apple SD Gothic Neo',arial,sans-serif;
  src: url('AppleSDGothicNeoB.eot') format('eot');
  src: url('AppleSDGothicNeoB.eot') format('embedded-opentype'),
       url('AppleSDGothicNeoB.woff2') format('woff2'),
       url('AppleSDGothicNeoB.woff') format('woff'),
       url('AppleSDGothicNeoB.ttf') format('truetype');
  font-weight: 700;
  font-style: nomal;
}

@font-face {
      font-family: 'Apple SD Gothic Neo',arial,sans-serif;
  src: url('AppleSDGothicNeoEB.eot') format('eot');
  src: url('AppleSDGothicNeoEB.eot') format('embedded-opentype'),
       url('AppleSDGothicNeoEB.woff2') format('woff2'),
       url('AppleSDGothicNeoEB.woff') format('woff'),
       url('AppleSDGothicNeoEB.ttf') format('truetype');
  font-weight: 800;
  font-style: nomal;
}

@font-face {
      font-family: 'Apple SD Gothic Neo',arial,sans-serif;
  src: url('AppleSDGothicNeoH.eot') format('eot');
  src: url('AppleSDGothicNeoH.eot') format('embedded-opentype'),
       url('AppleSDGothicNeoH.woff2') format('woff2'),
       url('AppleSDGothicNeoH.woff') format('woff'),
       url('AppleSDGothicNeoH.ttf') format('truetype');
  font-weight: 900;
  font-style: nomal;
}


/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on March 14, 2022 */



@font-face {
    font-family: 'noto_sans_krblack';
    src: url('notosanskr-black_0-webfont.eot');
    src: url('notosanskr-black_0-webfont-1.eot') format('embedded-opentype'),
         url('notosanskr-black_0-webfont.woff2') format('woff2'),
         url('notosanskr-black_0-webfont.woff') format('woff'),
         url('notosanskr-black_0-webfont.ttf') format('truetype'),
         url('notosanskr-black_0-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noto_sans_krbold';
    src: url('notosanskr-bold_0-webfont.eot');
    src: url('notosanskr-bold_0-webfont-1.eot') format('embedded-opentype'),
         url('notosanskr-bold_0-webfont.woff2') format('woff2'),
         url('notosanskr-bold_0-webfont.woff') format('woff'),
         url('notosanskr-bold_0-webfont.ttf') format('truetype'),
         url('notosanskr-bold_0-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noto_sans_krlight';
    src: url('notosanskr-light_0-webfont.eot');
    src: url('notosanskr-light_0-webfont-1.eot') format('embedded-opentype'),
         url('notosanskr-light_0-webfont.woff2') format('woff2'),
         url('notosanskr-light_0-webfont.woff') format('woff'),
         url('notosanskr-light_0-webfont.ttf') format('truetype'),
         url('notosanskr-light_0-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noto_sans_krmedium';
    src: url('notosanskr-medium_0-webfont.eot');
    src: url('notosanskr-medium_0-webfont-1.eot') format('embedded-opentype'),
         url('notosanskr-medium_0-webfont.woff2') format('woff2'),
         url('notosanskr-medium_0-webfont.woff') format('woff'),
         url('notosanskr-medium_0-webfont.ttf') format('truetype'),
         url('notosanskr-medium_0-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'noto_sans_krregular';
    src: url('notosanskr-regular-webfont.eot');
    src: url('notosanskr-regular-webfont-1.eot') format('embedded-opentype'),
         url('notosanskr-regular-webfont.woff2') format('woff2'),
         url('notosanskr-regular-webfont.woff') format('woff'),
         url('notosanskr-regular-webfont.ttf') format('truetype'),
         url('notosanskr-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'noto_sans_kr_regularregular';
    src: url('notosanskr-regular_0-webfont.eot');
    src: url('notosanskr-regular_0-webfont-1.eot') format('embedded-opentype'),
         url('notosanskr-regular_0-webfont.woff2') format('woff2'),
         url('notosanskr-regular_0-webfont.woff') format('woff'),
         url('notosanskr-regular_0-webfont.ttf') format('truetype'),
         url('notosanskr-regular_0-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'noto_sans_krthin';
    src: url('notosanskr-thin_0-webfont.eot');
    src: url('notosanskr-thin_0-webfont-1.eot') format('embedded-opentype'),
         url('notosanskr-thin_0-webfont.woff2') format('woff2'),
         url('notosanskr-thin_0-webfont.woff') format('woff'),
         url('notosanskr-thin_0-webfont.ttf') format('truetype'),
         url('notosanskr-thin_0-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
